{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
</head>
<body>
    <div class="wrap">
        <form class="signup" action="{% url 'users:signup' %}" method="post">
            {% csrf_token %}
            <a href="{% url 'index:index' %}">
                <img class="custom-image" src="{% static 'images/logo.png' %}" alt="logo" style="width: 200px;">
            </a>  
            <div class="join_form">
                <h4>ID</h4>
                <input type="text" name="username" id="username" placeholder="사용하실 아이디를 입력해주세요!">
                <span id="username-message"></span>
            </div>
            <div class="join_form">
                <h4>Password</h4>
                <input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요!">
            </div>
            <div class="join_form">
                <h4>Confirm Password</h4>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="다시 한 번 비밀번호를 입력해주세요!">
                <span id="password_match"></span>
            </div>
            <div class="join_form">
                <h4>Name</h4>
                <input type="text" name="name" id="name" placeholder="성함을 입력해주세요!">
            </div>
            <div class="join_form">
                <h4>E-Mail</h4>
                <input type="email" name="email" id="email" placeholder="이메일을 입력해주세요!">
                <span id="error-message"></span>
            </div>
            <div class="join_form">
                <h4>Phone</h4>
                <input type="text" name="phone" id="phone" placeholder="휴대폰 번호를 입력해주세요!">
            </div>
            <div class="join_form">      
                <h3>Coffee Type</h3>
                <br>
                <div class="radio_group">
                    <input type="radio" id="roasting" name="coffee_type" value="roasting">
                    <label for="roasting">Roasting</label>
                    <hr>
                    <input type="radio" id="cold_brew" name="coffee_type" value="cold_brew">
                    <label for="cold_brew">Cold Brew</label>
                    <hr>
                    <input type="radio" id="like_both" name="coffee_type" value="like_both">
                    <label for="like_both">Like Both</label>
                </div>
            </div>
            <div class="submit">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    

    <script>
        function checkUsernameAvailability() {
            var usernameInput = $('#username').val();
            var usernameCheckUrl = "{% url 'users:username_check' %}";

            // Ajax 요청
            $.ajax({
                type: 'POST',
                url: usernameCheckUrl, // 실제 서버 경로로 수정해야 합니다.
                data: { username: usernameInput },
                success: function(response) {
                    if (response === 'available') {
                        $('#username-message').text('');
                    } else {
                        $('#username-message').text('중복된 ID입니다.').css('color', 'red');
                    }
                },
                error: function() {
                    console.error('서버 오류');
                }
            });
        }
        document.getElementById('confirm_password').addEventListener('input', function() {
            const password = document.getElementById('password').value;
            const confirmPassword = this.value;
            const passwordMatchSpan = document.getElementById('password_match');

            if (password === confirmPassword) {
                passwordMatchSpan.textContent = '';
            } else {
                passwordMatchSpan.textContent = '비밀번호가 일치하지 않습니다.';
                passwordMatchSpan.style.color = 'red';
            }
        });

        document.getElementById('email').addEventListener('input', validateEmail);
        function validateEmail() {
        var emailInput = document.getElementById('email');
        var errorMessage = document.getElementById('error-message');
        
        // 이메일 형식 검사 정규식
        var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

        if (emailPattern.test(emailInput.value)) {
            errorMessage.innerHTML = ''; // 형식이 맞으면 에러 메시지 제거
        } else {
            errorMessage.innerHTML = '올바른 이메일 형식이 아닙니다.'; // 형식이 아니면 에러 메시지 표시
            errorMessage.style.color = 'red';
        }}
    
    </script>
</body>
</html>
